 /* nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #333;
  color: white;
}

nav div {
  display: flex;
  align-items: center;
} */

 .top-nav {
   position: sticky;
   top: 0;
   z-index: 1000;
 }

 .title {
   font-size: 20px;
   font-weight: 600;
 }

 .spacer {
   flex: 1 1 auto;
 }


 .mat-toolbar,
 app-navbar nav {
   background: linear-gradient(90deg, var(--gold-start), var(--gold-end));
   color: var(--gold-text) !important;
   font-weight: bold;
 }

 .logout-btn {
   background-color: var(--danger) !important;
   color: #fff !important;
   font-weight: bold;
 }

 .logout-btn:hover {
   background-color: #d32f2f !important;
 }