/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --gold-start: #FFD700;
    /* Gold */
    --gold-end: #DAA520;
    /* Goldenrod */
    --gold-text: #000000;
    /* Black text for contrast */
    --danger: #B71C1C;
    /* Red for logout */
}