<app-navbar (toggleSidebar)="toggleSidebar()"></app-navbar>

<div class="dashboard-container">
  <!-- Sidebar -->
  <nav class="sidebar" [class.collapsed]="isCollapsed" [class.open]="isMobileOpen">
    <h2 *ngIf="!isCollapsed">Admin Panel</h2>
    <ul>
      <li>
        <a routerLink="users" routerLinkActive="active">
          <mat-icon>group</mat-icon>
          <span *ngIf="!isCollapsed">Users</span>
        </a>
      </li>
      <li>
        <a routerLink="plans" routerLinkActive="active">
          <mat-icon>assignment</mat-icon>
          <span *ngIf="!isCollapsed">Plans</span>
        </a>
      </li>
      <li>
        <a routerLink="subscriptions" routerLinkActive="active">
          <mat-icon>subscriptions</mat-icon>
          <span *ngIf="!isCollapsed">Subscriptions</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Main content -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>